.midpage {
    height: 300px;
    width: 100%;
    border: solid black;
    background-color: #1c1c1c ;
    display: flex;
    justify-content: center;
}

.searchbar {
    height: 80px;
    width: 80%;
    background-color: #333333;
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: #aaaaaa;
}
.textbox {
    height: 300px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 45px;
    background-color: #1c1c1c;


}
.text1 {
    height: 80px;
    width: 80%;
    ;
}
