
.webpage {
    background-color: #1C1c1c ;
}
.toppage {
    height: 50px;
    width: 100%;
    border: solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.horn {
    height: 40px;
    width: 5%;
    border: solid black;
}
.dropdown  {
    height: 40px;
    width: 5%;
    border: solid black;

}

.bars {
    height: 40px;
    width: 5%;
    border: solid black;
}

.duckbox {
    height: 200px;
    width: 100%;
    border: solid black;
    display: flex;
    justify-content: center;
}
.duckhead {
    height: 170px;
    width: 15%;
    border: solid black 2px;
    display: flex;
    justify-content: center;
}
